version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:18.17.1
        environment:
          TEST_DATABASE_URL: postgresql://postgres@localhost/circle_test
      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: postgres
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install npm modules
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          command: sudo apt-get update
      - run:
          comand: sudo apt-get install postgresql-client
      - run:
          command: whoami
      - run: |
           psql \
           -d $TEST_DATABASE_URL \
           -c "CREATE DATABASE vt_blog WITH OWNER = postgres TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = 'libc' CONNECTION LIMIT = -1 IS_TEMPLATE = False;"
  test:
    docker:
      - image: cimg/node:18.17.1
      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: postgres
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          command: npm run test:e2e
workflows:
  build-test:
    jobs:
      - build
      - test:
          requires:
            - build