version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:18.17.1
      - image: postgres
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install npm modules
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
  test:
    docker:
      - image: circleci/node:18.17.1
      - image: postgres
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          command: npm run test:e2e
workflows:
  build-test:
    jobs:
      - build
      - test:
          requires:
            - build